* {
    border: 0;
    padding: 0;
    margin: 0;
}

.header {
    color: bisque;
    height: 10rem;
    padding: 4rem 0rem 3.4rem 1.8rem;
    font-size: 2rem;
    background-image: url(../img/img1.jpg);
    background-size: cover;
    background-position: right;
}

.header h1 {
    margin: 0px;
    font-weight: 1rem;
}

body {
    background-color:rgb(235, 228, 213);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.products {
    width: 80%;
    margin: auto;
}

.products td {
    width: 50%;
    padding: 2em;
}

.products img {
    width: 100%;
    border: solid 4px rgba(0, 0, 0, 0.192);
}

.footer {
    height: 3rem;
    line-height: 3rem;
    background-color: rgb(87, 86, 86);
    color: antiquewhite;
    text-align: center;
    font-weight: 800;
}

img {
    border-radius: 3%;
}